<!-- TODO: move text to json model -->
<md-card id="about" class="card">
  <md-card-header>
    <div md-card-avatar class="profile-avatar">
      <img src="/assets/img/me.jpg">
    </div>
    <md-card-title>About</md-card-title>
    <md-card-subtitle>Hi, my name is Stefan and I am a Software Developer at HCSolutionsGesmbH.</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div class="justify-content">
      <p></p>
      <p>I believe in utilizing web and visualization techniques to deliver a great user experience where a large number of
        people can directly benefit from it.</p>
      <p>At the moment, I am employed as a Full Stack Web Developer at HCSolutionsGesmbH, working in the fields of Big Data,
        Data Engineering and Visualization. Since early 2016, I have been responsible designing and implementing the API
        as well as the UI/UX for a web-based Big Data analysis platform (see <a href="https://tomo-base.at" target="_blank">tomo-base.at</a>)
        utilizing a broad tech stack: e.g. Angular, Typescript, Java, ElasticSearch, NoSQL. Over the course of the last three
        years, I was collaborating to different Scrum teams where I acquired advanced skills in multiple web technologies
        within rapidly growing environments.</p>
    </div>
  </md-card-content>
  <md-card-actions>
    <div>
      <a href="https://github.com/sluger" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a href="https://at.linkedin.com/in/stefanluger" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
      <a href="https://twitter.com/Stefan_Luxi" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
      <a href="https://www.facebook.com/stefan.luxi.3" target="_blank"><i class="fa fa-2x fa-facebook-official"></i></a>
      <a href="https://plus.google.com/u/0/107625935468470004482" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a>
      <a href="https://plus.google.com/u/0/107625935468470004482" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a>
    </div>
  </md-card-actions>
  <div class="footer">(c) Stefan Luger 2017</div>
</md-card>