:host div.projects-page-wrapper {
    padding-top: 4rem;
    ul.projects-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
        li.projects-list-item {
            padding-bottom: 0.5rem;
            max-width: 50rem;
        }
    }
}